[Unit]
Description=MQTT sensor server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/mqttsensord/mqttsensord.py
WorkingDirectory=/home/pi/mqttsensord
StandardOutput=inherit
StandardError=inherit
Type=idle
Restart=on-success
User=pi

[Install]
WantedBy=multi-user.target